<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	<meta name="author" content="jc\doc\builder" /> 
	<meta name="keywords" content="" /> 
	<meta name="description" content="" /> 
	<base href="../../../" />
	<title> class: jc\mvc\view\View  -- JeCat PHP Framework Classes  </title> 
	<link rel="stylesheet" type="text/css" href="css/ClassInfo.css" />
</head> 

<body>

	<div id="classes_index">
		hello world ~1
<subtemplate name="">
<div>
</div>
</subtemplate>

<subtemplate:call name="" param.arrItem="$ssdd" />	</div>
	
	<div class="main-area">
	
		<!-- title -->
		<h4> 
			<!-- 
	 -->\<a href="jc/index.html">jc</a><!-- 
 --><!-- 
	 -->\<a href="jc/mvc/index.html">mvc</a><!-- 
 --><!-- 
	 -->\<a href="jc/mvc/view/index.html">view</a><!-- 
 --><!--
			-->\View		</h4>

		<!-- functions -->
				<div class="method">
		
			<!-- function name -->
			__construct			
			<!-- arg list -->
			(
											
								
				$sSourceFilename				
									= 								
							,				
									<a href="jc/ui/UI.html">jc\ui\UI</a>
								
				$aUI				
									= 								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			model			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setModel			
			<!-- arg list -->
			(
											
									<a href="jc/mvc/model/IModel.html">jc\mvc\model\IModel</a>
								
				$aModel				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			ui			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setUi			
			<!-- arg list -->
			(
											
									<a href="jc/ui/UI.html">jc\ui\UI</a>
								
				$aUI				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			sourceFilename			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setSourceFilename			
			<!-- arg list -->
			(
											
								
				$sSourceFilename				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			variables			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setVariables			
			<!-- arg list -->
			(
											
									<a href="jc/util/IHashTable.html">jc\util\IHashTable</a>
								
				$aVariables				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			outputStream			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setOutputStream			
			<!-- arg list -->
			(
											
									<a href="jc/io/IOutputStream.html">jc\io\IOutputStream</a>
								
				$aDev				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			render			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			display			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			show			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			widgits			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			addWidget			
			<!-- arg list -->
			(
											
									<a href="jc/mvc/view/widget/IViewWidget.html">jc\mvc\view\widget\IViewWidget</a>
								
				$aWidget				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			removeWidget			
			<!-- arg list -->
			(
											
									<a href="jc/mvc/view/widget/IViewWidget.html">jc\mvc\view\widget\IViewWidget</a>
								
				$aWidget				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			clearWidgets			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			widget			
			<!-- arg list -->
			(
											
								
				$sId				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			widgitIterator			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			dataExchanger			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			name			
			<!-- arg list -->
			(
											
								
				$sName				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setName			
			<!-- arg list -->
			(
											
								
				$sName				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setParent			
			<!-- arg list -->
			(
											
									<a href="jc/pattern/composite/IContainer.html">jc\pattern\composite\IContainer</a>
								
				$aParent				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			parent			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			addAcceptClasses			
			<!-- arg list -->
			(
											
								
				$Classes				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			accept			
			<!-- arg list -->
			(
											
								
				$object				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			add			
			<!-- arg list -->
			(
											
								
				$object				
								
							,				
								
				$bAdoptRelative				
									= 								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			remove			
			<!-- arg list -->
			(
											
								
				$object				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			clear			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			count			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			iterator			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			acceptClassIterator			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			addFilters			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			create			
			<!-- arg list -->
			(
											
								
				$sClassName				
								
							,				
								
				$sNamespace				
									= \								
							,				
								
				$arrArgvs				
									= Array								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			application			
			<!-- arg list -->
			(
											
								
				$bDefaultGlobal				
									= 1								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setApplication			
			<!-- arg list -->
			(
											
									<a href="jc/system/Application.html">jc\system\Application</a>
								
				$aApp				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			singleton			
			<!-- arg list -->
			(
											
								
				$bCreateNew				
									= 1								
							,				
								
				$createArgvs				
									= 								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setSingleton			
			<!-- arg list -->
			(
											
									<a href="jc/lang/Object.html">jc\lang\Object</a>
								
				$aInstance				
									= 								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			findApplicationOnCallStack			
			<!-- arg list -->
			(
											
								
				$arrCallStack				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			flyweight			
			<!-- arg list -->
			(
											
								
				$sKey				
								
						 )
		 
		</div>
			</div>

</body>

</html>