<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" > 
<head> 
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	<meta name="author" content="jc\doc\builder" /> 
	<meta name="keywords" content="" /> 
	<meta name="description" content="" /> 
	<base href="{=$sBaseUri}" />
	<title> class: {=$aClass->getName()}  -- JeCat PHP Framework Classes  </title> 
	<link rel="stylesheet" type="text/css" href="css/ClassInfo.css" />
</head> 

<body>

	<div id="classes_index">
		<include file='index.template.html' vars='true' />
	</div>
	
	<div class="main-area">
	
		<!-- title -->
		<h4> 
			<include file='namespacePath.template.html'
					vars='false'
					var.sPath="$aClass->getNamespaceName()"
					var.aBuilder="$aBuilder" /><!--
			-->\{=$aClass->getShortName()}
		</h4>

		<!-- functions -->
		<foreach for="$aClass->getMethods()" item='aMethodRef'>
		<div class="method">
		
			<!-- function name -->
			{=$aMethodRef->getName()}
			
			<!-- arg list -->
			(
			<foreach for='$aMethodRef->getParameters()' key='nParamIdx' item='aRefMetdParam' >
				<if "$nParamIdx>0">,</if>
				
				<if "$aRefMetdParamClass=$aRefMetdParam->getClass()" >
					<a href="{=str_replace('\\','/',$aRefMetdParamClass->getName())}.html">{= $aRefMetdParamClass->getName() }</a>
				</if>
				
				${=$aRefMetdParam->getName()}
				
				<if "$aRefMetdParam->isOptional()">
					= {=$aRefMetdParam->getDefaultValue()}
				</if>
				
			</foreach>
			 )
		 
		</div>
		</foreach>
	</div>

</body>

</html>