<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"> 
<head> 
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
	<meta name="author" content="jc\doc\builder" /> 
	<meta name="keywords" content="" /> 
	<meta name="description" content="" /> 
	<base href="../../../../" />
	<title> class: jc\mvc\view\widget\IViewFormWidget  -- JeCat PHP Framework Classes  </title> 
	<link rel="stylesheet" type="text/css" href="css/ClassInfo.css" />
</head> 

<body>

	<div id="classes_index">
		hello world ~1
<subtemplate name="">
<div>
</div>
</subtemplate>

<subtemplate:call name="" param.arrItem="$ssdd" />	</div>
	
	<div class="main-area">
	
		<!-- title -->
		<h4> 
			<!-- 
	 -->\<a href="jc/index.html">jc</a><!-- 
 --><!-- 
	 -->\<a href="jc/mvc/index.html">mvc</a><!-- 
 --><!-- 
	 -->\<a href="jc/mvc/view/index.html">view</a><!-- 
 --><!-- 
	 -->\<a href="jc/mvc/view/widget/index.html">widget</a><!-- 
 --><!--
			-->\IViewFormWidget		</h4>

		<!-- functions -->
				<div class="method">
		
			<!-- function name -->
			value			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setValue			
			<!-- arg list -->
			(
											
								
				$data				
									= 								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			valueToString			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setValueFromString			
			<!-- arg list -->
			(
											
								
				$data				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setDataFromSubmit			
			<!-- arg list -->
			(
											
									<a href="jc/system/Request.html">jc\system\Request</a>
								
				$aRequest				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			dataVerifiers			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			verifyData			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			view			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setView			
			<!-- arg list -->
			(
											
									<a href="jc/mvc/view/IView.html">jc\mvc\view\IView</a>
								
				$aView				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			id			
			<!-- arg list -->
			(
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			setId			
			<!-- arg list -->
			(
											
								
				$sId				
								
						 )
		 
		</div>
				<div class="method">
		
			<!-- function name -->
			display			
			<!-- arg list -->
			(
											
									<a href="jc/ui/UI.html">jc\ui\UI</a>
								
				$aUI				
								
							,				
									<a href="jc/util/IHashTable.html">jc\util\IHashTable</a>
								
				$aVariables				
									= 								
							,				
									<a href="jc/io/IOutputStream.html">jc\io\IOutputStream</a>
								
				$aDevice				
									= 								
						 )
		 
		</div>
			</div>

</body>

</html>